@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

:root {
  --toastify-color-success: pink;
}

@theme {
  --color-ourPink: #bf8f9c;
  --font-grav: "Gravitas One", serif;
  --font-mon: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}
